
[submodule "external/nnUNet"]
	path = external/nnUNet
	url = https://github.com/MIC-DKFZ/nnUNet.git
[submodule "external/TotalSegmentator"]
	path = external/TotalSegmentator
	url = https://github.com/wasserth/TotalSegmentator.git
